@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    background-color: rgb(164, 190, 178);
    font-family: 'Roboto', sans-serif;
}

a {
    color:blanchedalmond;
    text-decoration: none;

}

a:hover {
    color: rgb(164, 190, 178);
    background-color:blanchedalmond;
}

header{
    background-color: orangered;
    padding-bottom: 0px;
    text-shadow: 30px;

}
body {
    padding: 10px;
    margin: 0px;
}

main {
    padding: 16;
    /* padding: top left bottom right */
}

img {
    height: 200px;
    border: 1px solid coral;
    box-shadow: 2px 2px seashell;
}

nav {
    border-bottom: 1px, black;
    padding: 16px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: bisque;
}


h1 {
    color: darkgreen
}

th{font-size: medium;
}

tr{font-size: medium;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px 5px;
    box-shadow: 2px;
    font-family: Arial, Helvetica, sans-serif;
    perspective: 500px;
    transition: transform 1s ease;
}

h2 {
    font-size: large;
    text-shadow: 2px;
}
tr:nth-child(even) {
    background-color: grey;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}
